@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue:#dfebf6;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--blue);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background: #222;
}

html::-webkit-scrollbar-tumb{
    background: var(--blue);
}

body{
    background: #DFEBF6;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding: 1rem;
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #44576d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--blue);
}

header .user .name{
    font-size: 3.5rem;
    color: #fff;
}

header .user .post{
    font-size: 2rem;
    color: #eee;
}

header .navbar{
    width: 100%;
}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background: var(--blue);  
}

#menu{
    position: fixed;
    top: 2rem; right:2rem;
    background:#333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3{
    font-size: 3.5rem;
    color: #000000;
}

.home h1{
    font-size: 5rem;
    color: #44576d;
}

@media (max-width:1200px){
    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }
}

@media (max-width:991px){
    header{
        left:-120%;
    }

    #menu{
        display:block;
    }

    header.toggle{
        left:0%;
    }

    body{
        padding:0;
    }
}

@media (max-width:768px){
    html{
        font-size: 50%;
    }
}

@media (max-width:400px){
    header{
        width: 100vw;
    }
}