@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}
.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
    background-image: url("../images/satu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.form-container form{
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 10px #333;
    text-align: center;
    width: 500px;
}
 
.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:#fff;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:15px 20px;
   font-size: 14px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
    background: #fff;
}
 
.form-container form .form-btn{
    background: #DFEBF6;
    color:#29353C;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}
 
.form-container form .form-btn:hover{
    background: #AAC7D8;
    color:#fff;
}

.form-container form p{
    margin-top: 10px;
    font-size: 15px;
    color: #333;
}
 
.form-container form p a{
    color:#ffffff;
}

.form-container form .error-msg{
   margin:25px 0;
   display: block;
   background: #df3930;
   color:#fff;
   border-radius: 10px;
   font-size: 15px;
   padding: 10px;
} 